.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

OutputIPK/
Thumbs.db
*.ipk

# Artifacts from setting Docker WORKDIR the same as HOME
.ssh/
.webos/
.bash_history
