html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    font-size: 36px;
    font-family: -apple-system, "Helvetica", system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "Open Sans", sans-serif;
    background-color: #000b25;
    color: white;
}

#contentFrame {
    border: none;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    flex-direction: column;
    flex-wrap: flex-direction;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container div {
    display: inline-block;
    max-width: 60%;
}

#logo {
    max-width: 100%;
}

#logo img {
    width: 40%;
}

input,
textarea,
button {
    font-size: 1em;
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 5px 20px 5px 20px;
    margin: 5px 1px 3px 1px;
    border-radius: 1em;
}

#baseurl {
    width: 100%;
}

#error {
    color: red;
    font-weight: bold;
    text-align: center;
}

input[type=checkbox] {
    width: 1em;
    height: 1em;
}

input[type=text],
input[type=checkbox],
textarea {
    border: 2px solid #DDDDDD;
}

button {
    background: #DDDDDD;
    border: 0;
}

button:focus {
    background: rgba(81, 203, 238, 1);
}

input[type=checkbox]:focus+label {
    color: rgba(81, 203, 238, 1);
}

input[type=checkbox]:focus {

    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border: 4px solid rgba(81, 203, 238, 1);
}

input[type=text]:focus,
textarea:focus {}