/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    font-size: 36px;
    font-family: -apple-system, "Helvetica", system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "Open Sans", sans-serif;
    background-color: #101010;
    color: #FFF;
}

#contentFrame {
    border: none;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    color: #FFF;
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: flex-direction;
            flex-wrap: flex-direction;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-align-content: center;
            align-content: center;
}

.container > div {
    display: inline-block;
    width: 60%;
}

#logo {
    width: 40%;
    margin-bottom: 2em;
}

#logo img {
    max-width: 100%;
}

input,
textarea,
button {
    font-size: 1em;
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: .5rem 1.25rem;
    margin: 0.8rem 0;
    border-radius: 0.2rem;
}

.checkbox-wrapper {
    margin: 0.8rem 0;
}

#error {
    color: #000;
    background-color: tomato;
    border-radius: .2rem;
    padding: 0.25em 0.5em;
    font-size: 1.5rem;
}

input[type=checkbox] {
    margin: 0;
    width: 1em;
    height: 1em;
}

input[type=text],
input[type=url],
input[type=checkbox],
textarea {
    border: 2px solid #292929;
    background-color: #292929;
    color: #FFF;
}

input[type=text]:focus,
input[type=url]:focus,
input[type=checkbox]:focus,
textarea:focus {
    border-color: #00A4DC;
}

input[type=text],
input[type=url],
textarea,
button {
    width: 100%;
}

button {
    background: #292929;
    border: 0;
    color: #FFF;
    font-weight: bold;
}

button:focus {
    background: #00A4DC;
}

input[type=checkbox]:focus+label {
    color: #00A4DC;
}

input[type=checkbox]:focus {
    outline: 2px solid #00A4DC;
}

#serverlist {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.server_card {
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    margin: 0.3em;
}

.server_card_version, .server_card_url {
    color: gray;
    font-size: 0.7em;
    margin: 0.3em auto;
    overflow : hidden;
    text-overflow: ellipsis;
}
